@charset "UTF-8";
@import "compass";

.select-index{
	.titles{
		display: block;
		height: 60px;
		line-height: 60px;
		font-size: 18px;
		color: #666;
		font-weight: 100;
	}

	.jump{
		overflow: hidden;
		font-size: 16px;
		
		dt{
			float: left;
			width: 50px;
		}
		dd{
			float: left;
			width:850px; 
		}
		a,span{
			color: #428bca;
			padding:0 5px; 
		}
	}
}



