@charset "UTF-8";
@import "compass";

.wraper{
	overflow: hidden;
}

.wraper-index{
	overflow: hidden;
	width: 960px;
	margin: 20px auto 200px auto;
  ul{
    margin-right: -20px;
    zoom:1;
    overflow: hidden;
    &:after,&:before{
      content: '';
      display: table;
    }
    &:after{
      clear: both;
      overflow: hidden;
    }
  }
	li{
		float: left;
		margin:0 20px 26px 0;
	}
}

